body {
    background-color: #212121;
    color: #EEEEEE;
    font-family: 'Gothic A1', sans-serif;
}


#calc {
    display:grid;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px;
    width: 400px;
    margin: auto;
    border: 5px solid #EEEEEE;
}

#display {
    grid-row: 1 / 2;
    grid-column: 1 / 5;
    background-color:#607D8B;
    height: 80px;
    width: 380px;
    margin: 10px;
    border: 1px solid #EEEEEE;
}

#clear {
    grid-row: 2 / 3;
    grid-column: 1 / 5;
    width: 380px;
}

.row1 {
    grid-row: 3 / 4;
}
.row2 {
    grid-row: 4 / 5;
}

.row3 {
    grid-row: 5 / 6;
}

.row4 {
    grid-row: 6 / 7;
}

button {
    height: 80px;
    width: 80px;
    margin: 10px;
    background-color: #424242;
    color: #EEEEEE;
    font-size: 3vh;
}

button:focus {
    outline: none;
}

button:active {
    background-color: #616161;

}


h1 {
    width: 500px;
    margin: auto;
    text-align: center;
    padding-top: 6vh;
    padding-bottom: 2vh;
}

p {
    font-size: 4vh;
    text-align: right;
    padding-right: 10px;
}

#display-text {
    margin-top: 25px;
}

.creds {
    font-size: 2vh;
    text-align: center;
    display: block;
}

#github {
    display: block;
    text-align: center;
}

img {
    height: 45px;
}
